{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
    <label>Old Password</label>
    <input type="password" name="old_password" required />
    <label>New Password (6 characters minimum)</label>
    <input type="password" name="new_password" minlength=6 required />
    <label>Confirm Password</label>
    <input type="password" name="confirm_password" minlength=6 required />

    {% if csrftoken and csrf_cookie_name %}
    <input type="hidden" name="{{ csrf_cookie_name }}" value="{{ csrftoken }}" />
    {% endif %}

    <!-- This tells the endpoint to returns a HTML reponse if login fails. -->
    <input type="hidden" value="html" name="format" />

    <button>Change Password</button>
</form>
{% endblock %}