<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <style>
        body {
            font-family: sans-serif;
        }

        form {
            margin: 0 auto;
            max-width: 20rem;
        }

        input,
        label {
            display: block;
            margin: 0.5rem 0;
            width: 100%;
        }

        input {
            padding: 0.5rem;
        }
    </style>
</head>

<body>
    <form method="POST">
        <h1>Login</h1>
        <label>Username</label>
        <input type="text" name="username" />
        <label>Password</label>
        <input type="password" name="password" />

        {% if csrftoken and csrf_cookie_name %}
            <input type="hidden" name="{{ csrf_cookie_name }}" value="{{ csrftoken }}" />
        {% endif %}

        <input type="submit" />
    </form>
</body>

</html>