<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>MFA Demo</h1>
    <p>First <a href="/register/">register</a></p>
    <p>Then <a href="/login/">login</a></p>
    <p>Then <a href="/private/mfa-setup/">sign up for MFA</a></p>
    <p>Then try the <a href="/private/">private page</a></p>
    <p>And <a href="/private/logout/">logout</a></p>
</body>

</html>
